<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{/submit_registration}" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter your name" th:value="${name}" required>

    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Enter your email" th:value="${email}" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Create a password" th:value="${password}" required>

    <button type="submit">Register</button>
</form>
</body>
</html>
